/* Desktop Navbar Styles */
.nav-desk {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 99;
    left: 0;
    overflow: hidden;
    width: 70px;
    height: 100vh;
    background-color: #0D131F;
    transition: 0.3s;
}

.wrapper-desk {
    height: 100%;
    display: flex;
    align-items: center;
}

.wrapper-desk ul {
    width: 100%;
    padding: 0;
}

.wrapper-desk ul div {
    padding: 0 0 0 20px;
    height: 90px;
    position: relative;
}

.wrapper-desk ul div:hover {
    background-color: var(--color-primary-variant);
}

.nav-desk ul li {
    list-style: none;
    color: white;
    width: max-content;
    padding: 30px 0;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-desk ul li svg {
    padding-bottom: 4px;
    font-size: 1.8rem;
}

.nav-desk .dropdown-content {
    display: none;
    position: absolute;
    left: 70px; /* Aligns dropdown to the right of the navbar */
    top: 0;
    background-color: #0D131F;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border: 1px solid #333;
}

.nav-desk .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.nav-desk .dropdown-content a:hover {
    background-color: var(--color-primary-variant);
}

.nav-desk .dropdown:hover .dropdown-content {
    display: block;
}

.nav-desk:hover {
    width: 200px;
}

/* Mobile Navbar Styles */
.nav-mobile {
    display: none;
}

@media only screen and (max-width: 800px) {
    .nav-desk {
        display: none;
    }

    .nav-mobile {
        display: block;
        position: fixed;
        z-index: 99;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #0D131F;
        height: 60px;
        transition: 0.3s;
    }

    .wrapper-mobile {
        height: 100%;
    }

    .wrapper-mobile ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
    }

    .wrapper-mobile ul li {
        margin: auto;
        position: relative;
    }

    .wrapper-mobile .dropdown-content {
        display: none;
        position: absolute;
        bottom: 60px; /* Aligns dropdown above the mobile navbar */
        left: 0;
        background-color: #0D131F;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border: 1px solid #333;
    }

    .wrapper-mobile .dropdown-content a {
        color: white;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .wrapper-mobile .dropdown-content a:hover {
        background-color: var(--color-primary-variant);
    }

    .wrapper-mobile .dropdown:hover .dropdown-content {
        display: block;
    }
}
